[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dreamerkr
[access "refs/for/refs/*"]
	read = group user/dreamerkr
	push = group user/dreamerkr
	label-Code-Review = -2..+2 group user/dreamerkr
	label-Verified = -1..+1 group user/dreamerkr
	rebase = group user/dreamerkr
	removeReviewer = group user/dreamerkr
	submit = group user/dreamerkr
[access "refs/heads/*"]
	read = group user/dreamerkr
	create = group user/dreamerkr
	push = +force group user/dreamerkr
	pushMerge = group user/dreamerkr
[access "refs/tags/*"]
	push = group user/dreamerkr
	push = +force group user/dreamerkr
